<!--- Footer -->
<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <hr class="light">
            <h5>Contact</h5>
            <hr class="light">
            <p>sky.roasky@gmail.com</p>
            <p>123 Example St</p>
            <p>Example, California 92692</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Connect</h5>
            <hr class="light">
            <p><a href="https://instagram.com/tristanandskylar">Instagram</a></p>
            <p><a href="https://twitter.com/tristyandskylar">Twitter</a></p>
            <p><a href="https://youtube.com/user/skylarroasky">YouTube</a></p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>More</h5>
            <hr class="light">
            <p>the stuff</p>
        </div>
        <div class="col-12">
            <hr class="light">
            <h5>&copy; 2019 T&S</h5>
        </div>
    </div>
</div>