<!--- Footer -->
<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <hr class="light">
            <h5>Contact</h5>
            <hr class="light">
            <p>sky.roasky@gmail.com</p>
            <p>69 Somewhere</p>
            <p>In, California, 42069</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Connect</h5>
            <hr class="light">
            <p><a href="https://instagram.com/tristanandskylar">Instagram</a></p>
            <p><a href="https://twitter.com/tristyandskylar">Twitter</a></p>
            <p><a href="https://youtube.com/user/skylarroasky">YouTube</a></p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Poop</h5>
            <hr class="light">
            <p>Poop</p>
        </div>
        <div class="col-12">
            <hr class="light">
            <h5>&copy; 2018 Skylar Roasky</h5>
        </div>
    </div>
</div>