.outerbox {
    background-color: #9a9d9c69;
    width: 100%;
    max-height: 100%;
    border-width: 10px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 3px 3px 10px #00000069;
}

.img {
    width:100%;
    margin-top: 10px;
}

.outerbox:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: rgb(162, 164, 168);
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
}

.caption {
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}